@charset "utf-8";
/* CSS Document */
body{
	background-color:lightsteelblue;
}

h2 {
	color:cornflowerblue;
	text-decoration: underline wavy 5px blue;
}
h2{
	letter-spacing: 3px;
}
img {
  max-width: 100%;
  height: auto;
}
img:hover {
	border : 25px dotted blue;
}
